body { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
background-color: #e98708; color: #000000; }  
.Container { text-align: center; } 
.Boxes {display: block; margin: 3rem; border: 10px solid black;  padding: 20px 50px; border-radius: 0em; width: 20% } 
.readme-wrapper :link{ text-decoration: none; color: rgb(3, 100, 19);  }
.readme-wrapper a:hover { color:rgb(245, 8, 138); font: bold; }
span { color: #087692; font-weight: 900; }

