body { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
background-color: brown; color: #000000; }  
#Container { text-align: center; background-color: #e67103; } 
.Boxes {display: block; margin: 3em; border: 10px solid black;  padding: 20px 50px; border-radius: 0em; width: 20%;  }
.readme-wrapper :link{ text-decoration: none; color: rgb(3, 100, 19);  }
.readme-wrapper a:hover { color:rgb(245, 8, 138); font: bold; }
.readme-wrapper { width: 100%; height: 25px; background-color: ivory; display: inline;  }
span { color: #087692; font-weight: 900; }
[id=Box1] { background-color: yellow; color: black;   }
[id=Box2] { background-color: coral; color: black; position: relative; }
[id=Box3] { background-color: lightgray; color: black;  }
[id=Box4] { background-color: aqua; color: black;  }




